**/*.rpm
**/*.jar
**/*.zip
**/*.tar.gz
**/*.bin
.idea/
.DS_Store
.vscode/
OracleDatabase/SingleInstance/dockerfiles/18.4.0/Dockerfile.xe
OracleDatabase/SingleInstance/dockerfiles/18.4.0/runOracle.sh
OracleDatabase/SingleInstance/dockerfiles/18.4.0/run.txt
OracleDatabase/SingleInstance/dockerfiles/18.4.0/Dockerfile.xe
